<h2>Add a recipe to the box!</h2>
<hr />

<form action="/recipes" method="post">
  <label for="food">Recipe name:</label>
  <input id="food" name="food" type="text">

  <label for="instructions">Instructions:</label>
  <input id="instructions" name="instructions" type="text"><br>

  <label for="category">What category:</label>
  <input id="category" name="category" type="text"><br>

  <button type="submit">Submit</button>
</form>

<h4><a href="/">Return home</a></h4>
